<!DOCTYPE html>
<html lang="en" ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">    
    <title></title>   
     <link href="css/bootstrap.css" rel="stylesheet">
         <script src="scripts\angular.min.js"></script> 
         <script src="scripts\angular-resource.min.js"></script>
     <script src="scripts\app.js"></script>     
    <script src="controller\sampleController.js"></script>  
      <script src="service\homeService.js"></script> 
    </head>
   <body ng-controller="sampleController"> 
      <div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4"><p>Select Date:  <input type="date"/></p> </div>        
                    <div class="col-xs-4"><p> Click <a href="#" ng-click="loadPeople()">here</a> to load data.</p></div>
                </div>
                        </div>
            
  <div class="container">
    <div class="row">       
        <div class="col-xs-6">
            <h3>Checkin feed</h3>
        <ul class="list-group" ng-repeat="datalist in partnerSearchList" >
        <li class="list-group-item">{{partnerSearchList.CheckIns}}</li>
        <li class="list-group-item">{{partnerSearchList.Notes}}</li>
        <!--<li class="list-group-item">{{partnerSearchList.PartnersCheckIns}}</li>-->
        <li class="list-group-item">{{partnerSearchList.Photos}}</li>
            <li class="list-group-item">{{partnerSearchList.ResultMessage}}</li>
                <li class="list-group-item">{{partnerSearchList.Status}}</li>
                <li class="list-group-item">{{partnerSearchList.UsersToday}}</li>
            </ul>  
            </div>
        <div class="col-xs-6">
           
        </div>
       </div>
    </body>
    </html>